@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.font-regular {
  font-weight: 100;
}

.font-italic {
  font-style: italic;
}

.smaller {
  font-size: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.videos-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .videos-layout {
    flex-direction: column;
  }

  .videos-layout > img {
    max-width: 100%;
    height: auto;
  }
}

.heading-layout {
  font-weight: 100;
}


.animated {
  background-repeat: no-repeat;
  -webkit-animation-duration: 10s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
} 

.mobile-nav{
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav-image{
  margin: 0 auto;
}

.mobile-nav-button{
  width: 100%
}
