@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.carousel .carousel-item {
  max-height: 550px;
}

.carousel-item img {
  object-fit: cover;
  max-height: 550px;
}

.font-regular {
  font-weight: 100;
}

.font-italic {
  font-style: italic;
}

.smaller {
  font-size: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.videos-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .videos-layout {
    flex-direction: column;
  }

  .videos-layout > img {
    max-width: 100%;
    height: auto;
  }
}

.heading-layout {
  font-weight: 100;
}


.animated {
  background-repeat: no-repeat;
  -webkit-animation-duration: 10s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
} 

.mobile-nav{
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav-image{
  margin: 0 auto;
}

.mobile-nav-button{
  margin-left: 25.33333333%;
  margin-right: 25.33333333%;
  width: 100%
}

.hamburger-item{
  border-width: 1px;
  border-color: gray;
  border-style: double;
  border-radius: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: 992px) {
  .navbar-collapse {
      background: rgba(255, 0, 0, 0.5);     /* transparent red 
  }
} */

/* Anything Smaller than Large  */
@media (max-width: 991px) {
  .navbar-collapse {
      background-color: #332D2D1A; /* transparent pink */
      margin-left: 25.33333333%;
      margin-right: 25.33333333%;
  }
}

